services:
  db:
    image: postgres:16
    container_name: himalayan_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Butwal8
      POSTGRES_DB: himalayan_taste
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    image: nextjs-dev
    container_name: himalayan_web_dev
    working_dir: /app
    depends_on:
      - db
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://postgres:Butwal8@db:5432/himalayan_taste
      NODE_ENV: development
      CHOKIDAR_USEPOLLING: "true"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    # command: sh -c "npm install && npx prisma generate &&  npx prisma migrate dev && npx prisma db seed && npm run dev"
    develop:
      watch:
        - path: ./src
          action: sync
          target: /app/src
          ignore:
            - node_modules/
        - action: rebuild
          path: package.json
volumes:
  postgres_data:
  node_modules:
