@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/effect-coverflow";

:root {
  --background: #ffedd5;
  --foreground: #fdba74;
  --primary: #c2410c;
  --primary-hover: #9a3412;
  --orange-100: #ffedd5;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffedd5;
    --foreground: #fdba74;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@layer components {
  .menu-card {
    @apply flex flex-row h-full overflow-hidden 
           shadow-md transition-all duration-300
           hover:shadow-xl hover:-translate-y-1;
    border-radius: 18px !important;
  }
}

@layer utilities {
  .hero-heading {
    @apply text-4xl md:text-5xl font-bold mb-4;
    color: text-yellow-500; /* Custom yellow color */
  }
  .hero-paragraph {
    @apply text-lg md:text-2xl mb-6;
    color: #f12d58; /* Custom yellow color */
  }
}
.custom-button-scroll-top {
  background-color: #1f2937;
  color: #9ca3af;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition:
    color 0.2s,
    background 0.2s;
}

.footer-nav-link {
  color: #9b9a99;
  text-decoration: none;
  cursor: pointer;
}

.footer-nav-link:hover {
  color: #f9f7f5;
}

/* Nav link with underline animation */
.nav-link {
  position: relative;
  color: var(--primary);
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: var(--primary-hover);
  transition: width 0.3s;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link.active {
  color: var(--primary-hover);
}

.nav-link:hover {
  color: var(--primary-hover);
}

/* Hero section buttons */
.hero-button {
  border: 2px solid var(--primary) !important;
  border-radius: 30px !important;
  font-size: 0.5rem !important;
  padding: 2px 6px !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero-button {
    padding: 4px 12px !important;
    font-size: 0.75rem !important;
  }
}

@media (min-width: 1024px) {
  .hero-button {
    padding: 8px 24px !important;
    font-size: 1rem !important;
  }
}
